/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

/*padding и margin не меняет размеры блока */

html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
 

/*header styles start*/
body {
    font-family: 'Lato';
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 56px;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    
}

.header-list {
    display: flex;
}

.header-link {
    margin-left: 82px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.header-link:hover, .header-link:focus, .header-link:active {
    opacity: 75%;
}
/*header styles end*/


/*intro styles start*/

.intro {
    min-height: 100vh;
    background: url(../img/intro.jpg) no-repeat center;
    background-size: cover;
}

.intro-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    padding-top: 263px;
    max-width: 619px;
    margin-bottom: 22px;
}

.intro-info {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
}

.search-field {
    width: 297px;
    margin-right: 60px;
    background: transparent url(../img/svg/circle.svg) no-repeat left 2px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-bottom: 376px;
}

.search-field::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-button {
    padding: 15px 40px;
    background-color: #1B7DFF;
    border: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.search-button:active, .search-button:hover, .search-button:focus {
    background-color: #2d5fa0;
}

/*intro styles end*/



/*benefits styles start*/

.benefits_wrapper {
    max-width: 1262px;
    max-height: 655px;
    background-color: white;
    margin: 0 auto;
   position: relative;
   box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits_title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.benefits_cards {
    display: flex;
    flex-wrap: nowrap;
    padding: 35px 45px 112px 100px;
}

.benefits_card {
    max-width: 315px;
    margin-left: 55px;
}

.benefits_card:first-child {
    margin-left: 0;
} 

.benefits_img {
    margin-bottom: 37px;
    size: 65px 65px;
}

.benefit_title {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.benefit_info {
    margin-bottom: 39px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.benefit_learn {
    text-decoration: none;
    color: #006DFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: url(../img/svg/shape.svg) no-repeat 90% center;
    padding-right: 59px;
    transition: .3s all;
}

.benefit_learn:hover, .benefit_learn:focus {
    background: url(../img/svg/shape.svg) no-repeat right center;
}

/*benefits styles end*/



/*travel styles start*/

.travel_wrapper {
    max-width: 1254px;
    margin: 0 auto;
}

.travel_title {
    padding-top: 131px;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding-bottom: 10px;
    position: relative;
}

.travel_title:after {
    display: block;
    content: '';
    height: 3px;
    width: 253px;
    background-color: rgba(0, 109, 254, 1);
    position: absolute;
    bottom: 0;
    left: 0;
}

.travel_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.travel_view {
    text-decoration: none;
    color: #006DFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-right: 59px;
    background: url(../img/svg/shape.svg) no-repeat 90% center;
    transition: .3s;
}

.travel_view:hover, .travel_view:focus {
    background: url(../img/svg/shape.svg) no-repeat right center;
}

.travel_header_links {
    padding-top: 131px;
}

.places-cards{
    padding-top: 36px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.places-card-lg{
    grid-column: span 3;
}
.places-card-sm{
    grid-column: span 2;
}
.places-card-pic {
    height: 354px;
    object-fit: cover;
    width: 100%;
    transition: 0.3ms;
}

.places-card{
    position: relative;
    overflow: hidden;
}
.places-card:hover .places-card-pic{
    transform: scale(1.05);
}
.places-card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    
}
.places-card-title{
    position: absolute;
    font-size: 50px;
    line-height: 60px;
    color: white;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}
.places-card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.toure-cards{
    margin-top: 130px;
}
.toure-description{
    padding-right: 47px;
    padding-left: 47px;
}
.toure{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
}
.toure-title{
    padding-bottom: 85px;
    font-size: 30px;
    line-height: 40px;
}
.toure-text{
    padding-bottom: 58px;
    font-size: 16px;
    line-height: 24px;
}
.toure-link {
    text-decoration: none;
    color: #006DFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: url(../img/svg/shape.svg) no-repeat 90% center;
    padding-right: 59px;
    transition: .3s all;
}

.toure-link:hover, .toure-link:focus {
    background: url(../img/svg/shape.svg) no-repeat right center;
}
.toure-c {
    margin-bottom: 77px;
}

/*travel styles end*/

/*top places styles start*/

.top-title{
    margin-bottom: 64px;
}
.top-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 55px;
}
.top-card-picture{
    position: relative;
    margin-bottom: 45px;
}
.top-card-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px 25px;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.top-card-stats-title{
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0;
}
.top-card-stats-likes{
    font-size: 16px;
    line-height: 24px;
    color: white;
    background: url(../img/svg/heart-icon.svg) no-repeat right;
    margin-right: 14px;
    padding-right: 20px;
}
.top-card-stats-comments{
    font-size: 16px;
    line-height: 24px;
    color: white;
    background: url(../img/svg/comment-icon.svg) no-repeat right;
    padding-right: 23px;
}
.top-card-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 43px;
}
.top-card-link{
    font-size: 16px;
    padding: 12px 19px;
    background:#006DFE;
    text-decoration: none;
    color: white;
}
.top-card-link:hover, .top-card-link:focus, .top-card-link:active{
    background: #2d5fa0;
}
.top-card{
    margin-bottom: 69px;
}
/*top places styles end*/