/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
 

/*header styles start*/
body {
    font-family: 'Lato';
    font-style: normal;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 56px;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    
}

.header-list {
    display: flex;
}

.header-link {
    margin-left: 82px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.header-link:hover, .header-link:focus, .header-link:active {
    opacity: 75%;
}
/*header styles end*/


/*intro styles start*/

.intro {
    min-height: 100vh;
    background: url(../img/intro.jpg) no-repeat center;
    background-size: cover;
}

.intro-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    padding-top: 263px;
    max-width: 619px;
    margin-bottom: 22px;
}

.intro-info {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
}

.search-field {
    width: 297px;
    margin-right: 60px;
    background: transparent url(../img/svg/circle.svg) no-repeat left 2px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-bottom: 376px;
}

.search-field::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-button {
    padding: 15px 40px;
    background-color: #1B7DFF;
    border: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.search-button:active, .search-button:hover, .search-button:focus {
    background-color: #2d5fa0;
}

/*intro styles end*/



/*benefits styles start*/

.benefits_wrapper {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
   position: relative;
   box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.benefits_title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.benefits_cards {
    display: flex;
    flex-wrap: wrap;
    padding: 35px 45px 112px 100px;
}

.benefits_card {
    max-width: 315px;
    margin-left: 55px;
}

.benefits_card:first-child {
    margin-left: 0;
} 

.benefits_img {
    margin-bottom: 37px;
    size: 65px 65px;
}

.benefit_title {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.benefit_info {
    margin-bottom: 39px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.benefit_learn {
    width: 160px;
    text-decoration: none;
    color: #006DFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.benefit_arrow {
    padding-left: 26px;
    padding-bottom: 126px;
}
/*benefits styles end*/